.vfrc-launcher {
    position: fixed;
    transform: translate(-50vmin, -50vmin);
}

.c-fikloo {
    width: inherit;
    min-width: 50vw;
    height: 95vh;
    max-height: 95vh;
}
.element.styles    {
    bottom: 30px;
    right: 0px;
}
