.voiceflow-chat {
    bottom: 6%;
    right: 30%;
}

.vfrc-launcher {
    display: flex;
    justify-content: center;
    align-items: self-start; /* Your custom style */
}

element.style {
    bottom: 6%;
    right: 30%;
}
